.hero{
    padding: 120px 12px;
    text-align: center;
}

.hero > .btn{
    margin: 1.8rem;
}

.hero h1{
    margin-bottom: var(--mg-bottom);
    font-size: 2.66rem;

}

.hero p{
    margin-bottom: var(--mg-bottom);
    font-size: 1.30rem;
}

.video-box video{
    max-width:160px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--color-primary);

}

.video-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (min-width:1042px){
    .video-box video{
        max-width: 600px;
        width: 100%;
    }
}